<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin panel</title>
    <link rel="stylesheet" href="/css/Admin/adminhomepage.css">
</head>
<body>

    <!-- Navbar -->
    <header>
        <nav class="navbar">
            <div class="logo">
                <span class="fuel">Admin panel</span>
                <p>Doorstep Fuel Delivery</p>
            </div>
            <ul class="nav-links">
                <li><a href="#" class="">Home</a></li>
                <li><a href="admin/fuel_reg">Add FuelStations</a></li>              
                <li><a href="">Fuel Stations</a></li>
                <li><a href="admin/users">Users</a></li>
                <li ><a href="/logout" class="btn-danger">Logout</a></li>
            </ul>
                
        </nav>
    </header>


    <!-- Footer -->
    <footer>
        <p>&copy; 2025 FuelBuddy. All rights reserved.</p>
    </footer>

</body>
</html>
