<!-- Navbar -->
<header>
    <nav class="navbar">
        <div class="logo">
            <span class="fuel">Customer</span>
            <p>Doorstep Fuel Delivery</p>
        </div>
        <ul class="nav-links">
            <li><a href="/user" class="active">Home</a></li>
            <li><a href="/user/fuelstations">Fuel Stations </a></li>              
            <li><a href="">My Orders</a></li>
            <li><a href="">Profile </a></li>
            <li ><a href="/" class="btn-danger">Logout</a></li>
        </ul>
    </nav>
</header>