<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin panel</title>
    <link rel="stylesheet" href="/css/fuelstation/fuelstationhomepage.css">
</head>
<body>

    <!-- Navbar -->
    <header>
        <nav class="navbar">
            <div class="logo">
                <span class="fuel">Fuel Station</span>
                <p>Doorstep Fuel Delivery</p>
            </div>
            <ul class="nav-links">
                <li><a href="/fuelstation" class="active">Home</a></li>
                <li><a href="/fuelstation/driver_reg">Add Driver </a></li>              
                <li><a href="">Stock update</a></li>
                <li><a href="">Orders</a></li>
                <li ><a href="/" class="btn-danger">Logout</a></li>
            </ul>
                
        </nav>
    </header>


    <!-- Footer -->
    <footer>
        <p>&copy; 2025 FuelBuddy. All rights reserved.</p>
    </footer>

</body>
</html>
