<nav class="sidebar">
    <div class="sidebar-header">
        <span class="fuel">Fuel Station</span>
        <p>Dashboard</p>
    </div>
    
    <ul class="nav-links">
        <li><a href="/fuelstation" class="active"><ion-icon name="home"></ion-icon> Home</a></li>
        <li><a href="/fuelstation/drivers"><ion-icon name="people"></ion-icon> Drivers</a></li>              
        <li><a href="/fuelstation/fuels"><ion-icon name="water"></ion-icon> Fuels</a></li>
        <li><a href="/fuelstation/orders"><ion-icon name="document-text"></ion-icon> Orders</a></li>
    </ul>
    
    <div class="logout-section">
        <a href="/" class="btn-danger"><ion-icon name="log-out"></ion-icon> Logout</a>
    </div>
</nav>